<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <%- include('./header.ejs') %>
    <form action="/add-product" method="post" class="form-input">
        <label for="Content">Nhập thông tin sản phẩm</label>
        <table class="form-input-products">
            <tr>
                <td><label for="title">Title</label></td>
                <td><input type="text" name="title" id="title"></td>
            </tr>
            <tr>
                <td><label for="price">Price</label></td>
                <td><input type="text" name="price" id = "price"></td>
            </tr>
            <tr>
                <td><label for="description">Description</label></td>
                <td><input type="text" name="description" id=" description"></td>
            </tr>
            <tr>
                <td><label for="rating" >Rating</label></td>
                <td><input type="text" name="rating" id="rating"></td>
            </tr>

        </table>
        <button type="submit" class="button">Click nhập</button>
    </form>
    <%- include('./footer.ejs') %>
</body>
</html>